<div id="portfolio">
  <%= image_tag(@user.photo_1, :class => "portfolio_image", :alt => @user.name, :width => "350", :height => "450") %>
 

<% if @user.gender == "female" %>
	<ul>
		<li>
			<div class="label">Height</div>
			<%= @user.portfolio.height %>
		</li>
		
		<li>
			<div class="label">Bust</div>
			<%= @user.portfolio.bust %>
		</li>

		<li>
			<div class="label">Waist</div>
			<%= @user.portfolio.hips %>
		</li>

		<li>
			<div class="label">Hips</div>
			<%= @user.portfolio.hips %>
		</li>

		<li>
			<div class="label">Shoes</div>
			<%= @user.portfolio.shoes %>
		</li>

		<li>
			<div class="label">Eyes</div>
			<%= @user.portfolio.eyes %>
		</li>

		<li>
			<div class="label">Hair</div>
			<%= @user.portfolio.hair %>
		</li>
	</ul>
<% else %>
	<ul>
		<li>
			<div class="label">Height</div>
			<%= @user.portfolio.height %>
		</li>
		
		<li>
			<div class="label">Suit</div>
			<%= @user.portfolio.suit %>
		</li>

		<li>
			<div class="label">Waist</div>
			<%= @user.portfolio.waist %>
		</li>

		<li>
			<div class="label">Inseam</div>
			<%= @user.portfolio.inseam %>
		</li>

		<li>
			<div class="label">Shoes</div>
			<%= @user.portfolio.shoes %>
		</li>

		<li>
			<div class="label">Eyes</div>
			<%= @user.portfolio.eyes %>
		</li>

		<li>
			<div class="label">Hair</div>
			<%= @user.portfolio.hair %>
		</li>
	</ul>
<% end %>	

</div> 