<div id="profile" class="tab_content">
	<%= form_for(@user, :html => { :multipart => true }) do |f| %>
		<% if @user.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

				<ul>
					<% @user.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="field">
			<%= f.label :name, "Full Name" %><br />
			<%= f.text_field :name %>
		</div>
		<div class="field">
			<%= f.label :photo_1, "Photo" %><br />
			<%= f.file_field :photo_1 %>
		</div>
		<div class="field">
			<%= f.label :photo_2, "Photo 2" %><br />
			<%= f.text_field :photo_2 %>
		</div>
		<div class="field"> 
			<%= f.radio_button(:gender, "male") %>
			<%= f.label(:gender, "Male") %>
			<%= f.radio_button(:gender, "female") %>
			<%= f.label(:gender, "Female") %>
		</div>
		<div class="actions">
			<%= f.submit %>
		</div>
	<% end %>
</div>