 <h1><%= @user.name %></h1>

<% unless @user.portfolio.blank? %>  
	<%= render "portfolios/portfolio"  %>
<% end %>  
  
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', :back %> |
<strong><%= link_to 'Destroy', @user, confirm: 'Are you sure?', :method => :delete %></strong> 
 
<%= select_tag "name_dropdown", options_from_collection_for_select(@users, "friendly_id", "name", @user.friendly_id) %>